body {
    background-color: #F8F7FF;
    text-align: center;
}

.gecko {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}

ul, #container {
    list-style-type: none;
}

table, th, td {
    border: 1px solid gray;
    margin: auto;
}